@import "../../../../scss/index";

.subdomain-form {
  h2{
    font-weight: bold;
    margin-bottom: 20px;

    img{
      width: 250px;
    }
  }

  .form-control{
    margin-bottom: 25px;
    font-size: 25px;
  }

  button{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;

    .spinner-border {
      width: 25px;
      height: 25px;
    }
  }

  .row{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
