@import "../../../../scss/index";

.profile-enterprise{
  &__actions{
    bottom: -50px;
    right: 15px;
    margin-left: 20px;
    button{
      border-radius: 50px;
      background-color: $primary;
      width: 150px;

      &:hover{
        background-color: $primary;
        opacity: 0.6;
      }
    }
  }
}