@import "../../scss/index";

.sidebar {
  margin-top: 10px !important;
  font-size: 18px;

  .separator{
    border-bottom: 2px solid #555 !important;
    margin-bottom: 20px;
  }

  .sub-menu {
    margin-left: 15px;
    padding-left: 10px;
    font-size: 17px;
    background-color: $background-grey-dark;
  }

  .nav-link:hover {
    background-color: $primary;
  }

  .mobile-toggle {
    float: right;
    margin-left: auto;
  }
}
