@import "../../../../scss/index";

.search-petitions{
  margin-top: 75px;
  margin-bottom: 15px;

  .label-search{
    padding-left: 15px;
    padding-top: 6px;
    font-size: 18px;
    font-weight: bold;
  }
}