@import "../../../../scss/index";

.import-properties {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    width: 100%;
    
    @media (max-width: 768px) {
        padding: 1rem;
    }
} 