@import "../../../scss/index";

.detail-petition-component{
  .card {
    width: 64rem;
    background-color: $background-dark-light;

    .card-title {
      font-size: 24px;
      color: $font-grey;
      font-weight: bold;
    }

    .card-text {
      font-size: 18px;
      color: $font-light;
      font-weight: bold;
    }

    .petition-title{
      color: $font-light;
      font-size: 16px;
      font-weight: bold;
      justify-content: left;
    }

    .petition-message{
      color: $font-grey;
      font-size: 16px;
      font-weight: bold;
      justify-content: left;
    }
  }
}